<div class="favorite">
  <div class="movies" *ngIf="favoriteMovies$ | async">
    <div class="title">Favorite Movies</div>
    <app-carousel
      [slidesPagePair]="{
        currentSlidePage: currentFavoriteMoviesPage,
        slides: favoriteMovies$
      }"
      (onMediaSelect)="openDetails($event, 'movies')"
      (onRate)="rate($event, 'movie')"
      (onAddFavorite)="addFavorite($event, 'movie')"
      (onAddToWatchlist)="addToWatchlist($event, 'movie')"
    ></app-carousel>
  </div>
  <div class="series" *ngIf="favoriteSeries$ | async; else NoResults">
    <div class="title">Favorite Series</div>
    <app-carousel
      [slidesPagePair]="{
        currentSlidePage: currentFavoriteSeriesPage,
        slides: favoriteSeries$
      }"
      (onMediaSelect)="openDetails($event, 'series')"
      (onRate)="rate($event, 'serie')"
      (onAddFavorite)="addFavorite($event, 'serie')"
      (onAddToWatchlist)="addToWatchlist($event, 'serie')"
    ></app-carousel>
  </div>
  <ng-template #NoResults>
    <div class="no-results">
      <div class="title">Favorite Series</div>
      <div class="no-results-text">No favorite series yet</div>
    </div>
  </ng-template>
</div>
