@use 'sass:map';
@import 'colors.scss';

.movies {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 16px;

  .list {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .divider {
    height: 0;
    width: 90%;
    margin: 0 70px;
    border: 1px solid white;
  }

  .upcoming {
    margin-bottom: 32px;
  }

  .title {
    font-size: 36px;
    font-weight: 500;
    margin: 16px 115px;
    user-select: none;
  }
}