<div class="carousel">
  <i class="ri-arrow-drop-left-line" (click)="previousSlide()"></i>

  <div class="slides" *ngIf="paginatedSlides">
    <div [@slideAnimation]="animationState">
      <app-card
        *ngFor="let slide of paginatedSlides[currentPage]"
        [media]="convertToBehaviorSubject(slide)"
        [mediaType]="mediaType"
        (onAddFavorite)="addFavorite($event)"
        (onRate)="rateMedia($event)"
        (onAddToWatchlist)="addToWatchlist($event)"
        (onMediaSelect)="selectMedia($event)"
      ></app-card>
    </div>
  </div>
  <i class="ri-arrow-drop-right-line" (click)="nextSlide()"></i>
</div>
