<div class="series">
  <div class="popular">
    <div class="title">Popular</div>
    <div class="list">
      <app-carousel
        [slidesPagePair]="{
          currentSlidePage: currentPopularPage,
          slides: popular$
        }"
        [mediaType]="'serie'"
        (onAddFavorite)="addFavorite($event)"
        (onAddToWatchlist)="addToWatchlist($event)"
        (getNewSlides)="getNextPage('popular', $event)"
        (onRate)="rateSerie($event)"
        (onMediaSelect)="openSeriesDetails($event, 'popular')"
      ></app-carousel>
    </div>
  </div>

  <div class="now-playing">
    <div class="title">On Air</div>
    <div class="list">
      <app-carousel
        [slidesPagePair]="{
          currentSlidePage: currentOnTheAirPage,
          slides: onTheAir$
        }"
        [mediaType]="'serie'"
        (onAddFavorite)="addFavorite($event)"
        (onAddToWatchlist)="addToWatchlist($event)"
        (getNewSlides)="getNextPage('nowPlaying', $event)"
        (onRate)="rateSerie($event)"
        (onMediaSelect)="openSeriesDetails($event, 'nowPlaying')"
      ></app-carousel>
    </div>
  </div>

  <div class="top-rated">
    <div class="title">Top Rated</div>
    <div class="list">
      <app-carousel
        [slidesPagePair]="{
          currentSlidePage: currentTopRatedPage,
          slides: topRated$
        }"
        [mediaType]="'serie'"
        (onAddFavorite)="addFavorite($event)"
        (onAddToWatchlist)="addToWatchlist($event)"
        (getNewSlides)="getNextPage('topRated', $event)"
        (onRate)="rateSerie($event)"
        (onMediaSelect)="openSeriesDetails($event, 'topRated')"
      ></app-carousel>
    </div>
  </div>

  <div class="upcoming">
    <div class="title">Airing Today</div>
    <div class="list">
      <app-carousel
        [slidesPagePair]="{
          currentSlidePage: currentAiringTodayPage,
          slides: airingToday$
        }"
        [mediaType]="'serie'"
        (onAddFavorite)="addFavorite($event)"
        (onAddToWatchlist)="addToWatchlist($event)"
        (getNewSlides)="getNextPage('upcoming', $event)"
        (onRate)="rateSerie($event)"
        (onMediaSelect)="openSeriesDetails($event, 'upcoming')"
      ></app-carousel>
    </div>
  </div>
</div>
