@use 'sass:map';
@import 'colors.scss';

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    gap: 12px;
    color: white;
    width: 60%;

    i {
      font-size: 64px;
      display: flex;
      align-items: center;
    }
  }

  .auth-options {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 40%;
    align-items: center;
    justify-content: center;
    background-color: map.get($blues, 1);
    height: 100%;
    

    button {
      padding: 12px 20px;
      border: none;
      width: 200px;
      border-radius: 12px;
      color: white;
      background-color: map.get($blues, 0);

      &:hover {
        cursor: pointer;
      }
    }
  }
}