@use "sass:map";
@import "colors.scss";

body {
  background-color: map.get($blues, 0);
  font-family: 'Avenir Next LT Pro', sans-serif;
  margin: 0;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: map.get($blues, 2);
}

::-webkit-scrollbar-thumb {
  background: map.get($blues, 3);
}

::-webkit-scrollbar-thumb:hover {
  background: #88dd88;
}