<div class="main">
  <div class="navigation-bar">
    <div class="left">
      <div class="search blue-bg">
        <i class="ri-search-line"></i>
        <input type="text" placeholder="Search" />
      </div>
    </div>
    <div class="center blue-bg">
      <div
        class="option"
        routerLink="/cms/movies"
        routerLinkActive="active-route"
      >
        <i class="ri-film-line"></i>Movies
      </div>
      <div
        class="option"
        routerLink="/cms/series"
        routerLinkActive="active-route"
      >
        <i class="ri-tv-2-line"></i>Series
      </div>
      <div
        class="option"
        routerLink="/cms/favorites"
        routerLinkActive="active-route"
      >
        <i class="ri-heart-line"></i>Favorites
      </div>
      <div
        class="option"
        routerLink="/cms/watchlist"
        routerLinkActive="active-route"
      >
        <i class="ri-bookmark-line"></i>Watchlist
      </div>
    </div>
    <div class="right blue-bg">
      <div class="profile" *ngIf="account$ | async as account">
        <ng-container
          *ngIf="account.avatar.tmdb.avatar_path !== ''; then icon; else img"
        ></ng-container>
        <ng-template #icon class="profile-pic">
          <i class="ri-user-fill"></i>
        </ng-template>
        <ng-template #img>
          <img
            class="profile-pic"
            [src]="
              'https://image.tmdb.org/t/p/original' +
                account.avatar.tmdb.avatar_path || ''
            "
            alt="profile-pic"
          />
        </ng-template>
        <span>{{ account.name ? account.name : account.username }}</span>
        <i class="ri-arrow-drop-down-line"></i>
      </div>
    </div>
  </div>
  <div class="outlet">
    <router-outlet></router-outlet>
  </div>
</div>
