<div class="main">
  <div class="navigation-bar">
    <div class="left">
      <div class="search blue-bg">
        <i class="ri-search-line"></i>
        <input type="text" placeholder="Search" />
      </div>
    </div>
    <div class="center blue-bg">
      <div class="option" routerLink="/cms/home">
        <i class="ri-home-2-line"></i>Home
      </div>
      <div class="option" routerLink="/cms/movies">
        <i class="ri-film-line"></i>Movies
      </div>
      <div class="option" routerLink="/cms/series">
        <i class="ri-tv-2-line"></i>Series
      </div>
      <div class="option" routerLink="/cms/watchlist">
        <i class="ri-list-indefinite"></i>Watchlist
      </div>
    </div>
    <div class="right blue-bg">
      <div class="profile">
        <i class="ri-user-fill"></i>
        <span>Admin</span>
        <i class="ri-arrow-drop-down-line"></i>
      </div>
    </div>
  </div>
  <div class="outlet">
    <router-outlet></router-outlet>
  </div>
</div>
