@use 'sass:map';
@import 'colors.scss';

.details {
  display: flex;
  flex-direction: column;
  padding: 38px 38px 100px 38px;
  height: 100%;

  .header {
    display: flex;
    justify-content: center;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    margin-top: 12%;
    gap: 32px;

    .providers {
      margin-left: 32px;

      .container-wrapper {
        display: flex;
        justify-content: center;
        overflow-x: auto;

        .container {
          display: flex;
          gap: 32px;
          justify-content: center;
          align-items: flex-start;
          padding-bottom: 24px;

          img {
            border-radius: 20px;
          }

        }
      }


    }

    .cast {
      margin-left: 32px;
      color: white;
      display: flex;
      flex-direction: column;
      gap: 8px;

      .container-wrapper {
        display: flex;
        overflow-x: auto;

        .container {
          display: flex;
          gap: 32px;
          justify-content: center;
          align-items: flex-start;
          padding-bottom: 24px;

          .actor {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;

            .name {
              text-align: center;

              a {
                font-size: 16px;
                font-weight: bold;
                text-decoration: none;
                color: white;
                text-align: center;
                width: 100%;

                &:hover {
                  color: $yellow;
                  cursor: pointer;
                  transition: ease-in-out 0.2s;
                }

                &:active {
                  color: $gold;
                }
              }
            }

            .character {
              font-size: 14px;
              font-weight: 300;
            }
          }
        }
      }

    }
  }
}