<div class="details" *ngIf="movie$ | async as movie">
  <div class="header">
    <app-card
      [media]="movie$"
      [isThumbnail]="false"
      (onAddFavorite)="addFavorite($event)"
      (onRate)="rateMovie($event)"
      (onAddToWatchlist)="addToWatchlist($event)"
    ></app-card>
  </div>
  <div class="bottom">
    <div class="providers" *ngIf="movie?.providers">
      <h2>Where to watch</h2>
      <div class="container-wrapper">
        <div class="container">
          <div class="logo" *ngFor="let provider of movie?.providers">
            <img
              [src]="'https://image.tmdb.org/t/p/original' + provider.logo_path"
              alt="logo"
            />
          </div>
        </div>
      </div>
    </div>
    <div
      class="cast"
      *ngIf="movie.credits?.cast && movie.credits.cast.length > 10"
    >
      <h2>Main Cast</h2>
      <div
        class="container-wrapper"
        [ngClass]="{ center: movie.credits.cast.length < 10 }"
      >
        <div class="container">
          <div class="actor" *ngFor="let actor of movie.credits?.cast">
            <app-circle
              [image]="
                actor.profile_path
                  ? 'https://image.tmdb.org/t/p/original' + actor.profile_path
                  : ''
              "
              [color]="actor.profile_path ? '' : 'blue'"
            >
            </app-circle>
            <div class="name">
              <a
                [href]="'https://www.themoviedb.org/person/' + actor.id"
                target="_blank"
              >
                {{ actor.name }}
              </a>
            </div>
            <div class="character">
              {{ actor.character }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
